.header {
    padding: 1rem 4rem;
    margin: auto;
    box-shadow: 1px 1px 40px 1px var(--color-primary);
}

.cur {
    cursor: pointer;
    margin: 0 0.5rem;
}

.cur:hover {
    color: var(--color-primary);
}

@media screen and (max-width: 650px) {
    .header {
        padding: 1rem;
    }

    .options {
        display: none;
    }
}