.dis_flex {
  display: flex;
}

.flex_col {
  flex-direction: column;
}

.just_cent {
  justify-content: center;
}

.just_btw {
  justify-content: space-between;
}

.align_center {
  align-items: center;
}

.all_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacer {
  width: 100%;
  padding: 1rem;
}

.spacer_half {
  width: 100%;
  padding: 0.5rem;
}

.m_5 {
  margin: 5px;
}

.m_10 {
  margin: 10px;
}

.arial {
  display: none;
}

.anti_arial {
  display: flex;
}

@media screen and (max-width: 650px) {
  .arial {
    display: block;
  }

  .anti_arial {
    display: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  color: var(--color-primary-varient);
}