* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --color-bg: #1a193a;
  --color-bg-varient: #2f285f;
  --color-primary: #8164f4;
  --color-primary-varient: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(201, 201, 201, 0.7);
  --transition: all 400ms ease;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  line-height: 1.5;
  letter-spacing: .1px;
}